{% load my_tags %}
<ul class="navbar-nav mr-auto mb-2 mb-md-0">
    <li class="nav-item active">
      <a class="nav-link" aria-current="page" href="{% url 'home' %}">Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books:genres-view' %}">Жанры</a>
    </li>
    {% if user.is_staff%}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books:authors-view' %}">Авторы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books:seriess-view' %}">Серии</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'books:publishers-view' %}">Издательства</a>
    </li>
    {% endif %}

    <li class="nav-item">
      {% if user.is_superuser %}<a class="nav-link" href="/s-admin/">Административный портал</a> {% endif %}
    </li>
    <li class="nav-item">
      {% if user.is_staff %}<a class="nav-link" href="{% url 'orders:order-list' %}">Заказы</a> {% endif %}
    </li>
    <li class="nav-item"></li>
      <button type="button" class="btn btn-sm btn-block btn-info" disabled >USD/BYN <br>{% currency_rate %}</button>
    </li>
  </ul>
  
 