<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список авторов</title>
</head>
<body>
    <h1>Список доступных авторов: </h1><br>
    <ul>{% for author in authors %}
        <li><a href="{% url 'author' author.pk %}">{{ author }}  </a><a href="{% url 'update-author' author.pk %}"> || Update</a>
            <a href="{% url 'delete-author' author.pk %}"> || Delete</a>
        </li>
        {% endfor%}
        <br>
        <a href="{% url 'create-author'  %}"> + + +  Внести автора + + + </a>
    </ul>
</body>
</html>