<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.book_name }}</title>
</head>
<body>
    <h1>Автор {{ book.author }}</h1><br>
    Цена {{ book.price }}<br>
    Серия {{ book.series }}<br>  
    Жанр {{ book.genre }}<br>  
    Год издания {{ book.published }}<br>
    Страниц {{ book.pages }}<br>
    Твердый переплет {% if book.pereplet %} 
    Да
    {% else %} НЕТ 
    {% endif %}<br>
    ISBN {{ book.ISBN }}<br>
    Вес {{ book.weight }}<br>
    Возратсные ограничения {{ book.age_protect }}<br>
    Издательство {{ book.publisher }}<br>
    Доступна для заказа {% if book.active %} 
    Да
    {% else %} НЕТ 
    {% endif %}<br>
    Дата внесения {{ book.entry_date }}<br>
    Обновлена {{ book.change_date }}<br>
</body>
</html>