<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Жанров</title>
</head>
<body>
    <h1>Список доступных жанров: </h1><br>
    <ul>{% for genre in genres %}
        <li><a href="{% url 'genre' genre.pk %}">{{ genre }}  </a><a href="{% url 'update-genre' genre.pk %}"> || Update</a>
            <a href="{% url 'delete-genre' genre.pk %}"> || Delete</a>
        </li>
        {% endfor%}
        <br>
        <a href="{% url 'create-genre'  %}"> + + +  Внести жанр + + + </a>
    </ul>
</body>
</html>