<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Список городов по коду</h1>
    <a href="MSQ/">AAQ</a>
    <a href="ABA/">ABA</a>
    <a href="ABL/">ABL</a><br>
    <a href="BVJ/">BVJ</a>
    <a href="BBB/">BBB</a>
    <a href="BQT/">BQT</a><br>
    <a href="MSQ/">MSQ</a><br>
    <a href="MVQ/">MVQ</a><br>
    <a href="DME/">VIE</a><br>
    <a href="CPH/">CPH</a><br>
    <a href="FRA/">FRA</a><br>
    <a href="STR/">STR</a><br>  
</body>
</html>
