<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Серии Книг</title>
</head>
<body>
    <h1>Список серий: </h1><br>
    <ul>{% for series in seriess %}
        <li><a href="{% url 'series' series.pk %}">{{ series }}  </a><a href="{% url 'update-series' series.pk %}"> || Update</a>
            <a href="{% url 'delete-series' series.pk %}"> || Delete</a>
        </li>
        {% endfor%}
        <br>
        <a href="{% url 'create-series'  %}"> + + +  Внести серию + + + </a>
    </ul>
</body>
</html>