{% extends 'base.html' %}
{% block title%}Book List{%endblock title%}
{% block body %}
    <h1><center>Серии</center></h1><br>
    <div class="container-xl">
      <table class="table table-inverse">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Название</th>
              <th scope="col">Редактировать</th>
              <th scope="col">Удалить</th>
            </tr>
          </thead>
          <tbody>
            {% for series in object_list %}
            <tr>
              <th scope="row">{{ series.pk }}</th>
              <td scope="col"><a href="{% url 'books:series-view' series.pk %}"> {{ series.series }}</a></td>
              <td scope="col"><a href="{% url 'books:series_update' series.pk %}"> Update</a></td>
              <td scope="col"><a href="{% url 'books:series_delete' series.pk %}"> Delete</a></td>
            </tr>
            {% endfor%}
          </tbody>
      </table>
    <ul>
       <a href="{% url 'books:series_create' %}" class='btn btn-danger'> Внести новую серию</a><br>

    </ul>
</div>
{% endblock body %}